@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

/* Color Variables Starts */

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;

    --ui-color1: #01ACFD;
    --ui-color2: #ffa500;

    --text-color1: #05D4DF;
    --text-color2: #5D58EF;

    --curr-box-1: #DEF5FF;
    --curr-box-2: #FFF4DC;
    --curr-box-3: #F2E8FF;

    --curr-text: #808080;

    --gradient-1: rgb(254, 163, 1, 0.3);

    --story-color: #95B226;
}

/* Color Variables Ends */

/* CSS For Container Starts */

.container{
    background-color: var(--primary-color);
}

/* CSS For Container Ends */


/* CSS For Nav Starts */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 6rem;
}

.nav-start{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-start h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav ul{
    display: flex;
    list-style: none;
    gap : 2.5rem;
}

.nav ul li{
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: pointer;
}

.nav ul li:nth-child(1){
    color: var(--ui-color2);
}

.nav ul li:nth-child(2){
    color: var(--ui-color1);
}

.nav ul li:nth-child(3){
    color: var(--text-color1);
}

.nav ul li:nth-child(4){
    color: var(--text-color2);
}

.nav-end button{
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--ui-color2);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.nav-end button:hover{
    background-color: var(--ui-color1);
}

.menu-bar{
    display: none;
}

@media screen and (max-width: 576px){
    .nav{
        padding: 1.25rem 2rem;
        border-bottom: 0.063rem solid var(--ui-color2);
    }

    .nav-start img{
        width: 2.875rem;
        aspect-ratio: 1/1;
    }

    .nav-start h3{
        display: none;
    }

    .nav ul{
        display: none;
    }

    .nav-end{
        display: none;
    }

    .menu-bar{
        display: block;
        cursor: pointer;
        width: 1.875rem;
        aspect-ratio: 1/1;
    }
}

/* CSS For Nav Ends */

/* CSS For Marquee Starts */

marquee{
    padding-block: 1.25rem;
    background-color: var(--ui-color1);
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    user-select: none;
    transition: 0.5s ease;
}

marquee:hover{
    background-color: var(--ui-color2);
}

/* CSS For Marquee Ends */

/* CSS For Banner Starts */

.banner{
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
}

.banner-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner-left h3{
    font-size: 3.5rem;
    line-height: 3.813rem;
    font-weight: 700;
    color: var(--secondary-color);
}

#ban-1{
    color: var(--ui-color2);
}

#ban-2{
    color: var(--ui-color1);
}

.banner-left p{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.banner-left button{
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: 0.5s ease;
    align-self: flex-start;
}

.banner-left button:hover{
    background-color: var(--ui-color1);
}

@media screen and (max-width: 576px){
    .banner{
        padding: 1.25rem 2rem;
        flex-direction: column-reverse;
        gap: 1.25rem;
    }

    .banner-left{
        gap: 1.125rem;
        text-align: center;
        justify-content: center;
    }

    .banner-left h3{
        font-size: 2rem;
        line-height: 2.188rem;
    }

    .banner-left p{
        font-size: 0.875rem;
    }

    .banner-left button{
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
        align-self: center;
    }

    .banner-right img{
        width: 21.25rem;
    }
}

/* CSS For Banner Ends */

/* CSS For Curriculum Starts */

.curriculum{
    padding: 3.75rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-image: url(assets/bg.png);
}

.curr-start h3{
    font-size: 2.875rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.curr-container{
    display: grid;
    gap: 1.75rem;
    grid-template-columns: repeat(3, minmax(15rem, 25rem));
}

.curr-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 1.125rem;
    gap: 1.75rem;
}

.curr-box h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.curr-box p{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", serif;
    color: var(--curr-text);
    line-height: 1.769rem;
}

.curr-box span{
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color1);
    cursor: pointer;
}

.curr-box:nth-child(1){
    background: linear-gradient(var(--curr-box-1), var(--primary-color) 30%);
    border: 0.063rem solid var(--curr-box-1);
}

.curr-box:nth-child(1) span{
    color: var(--text-color1);
}

.curr-box:nth-child(2){
    background: linear-gradient(var(--curr-box-2), var(--primary-color) 30%);
    border: 0.063rem solid var(--curr-box-2);
}

.curr-box:nth-child(2) span{
    color: var(--ui-color2);
}

.curr-box:nth-child(3){
    background: linear-gradient(var(--curr-box-3), var(--primary-color) 30%);
    border: 0.063rem solid var(--curr-box-3);
}

.curr-box:nth-child(3) span{
    color: var(--text-color2);
}

.curr-arrow{
    display: flex;
    gap: 1rem;
}
.curr-arrow div{
    width: 3.75rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
    background: var(--ui-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.5s ease;
}

.curr-arrow div:hover{
    background: var(--ui-color1);
}

@media screen and (max-width: 576px){
    .curriculum{
        padding: 2.5rem 2rem;
        gap: 1.25rem;
    }

    .curr-start h3{
        font-size: 1.625rem;
    }

    .curr-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .curr-box{
        padding: 2rem 1rem;
    }

    .curr-box h4{
        font-size: 1.25rem;
    }

    .curr-box p{
        font-size: 0.875rem;
    }

    .curr-box span{
        font-size: 0.875rem;
    }

    .curr-arrow{
        gap: 0.5rem;
    }

    .curr-arrow div{
        display: none;
    }
}

/* CSS For Curriculum Ends */

/* CSS For Stories Starts */

.stories{
    padding: 3.75rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-image: linear-gradient(to bottom, var(--primary-color) 30%, var(--gradient-1)), url('assets/bg.png');
}

.stories-start h3{
    font-size: 2.875rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.stories-container{
    display: grid;
    gap: 1.25rem;
    max-width: calc((18.188rem * 4) - 0.25rem);
    grid-template-columns: repeat(4, 1fr);
}

#story-box-1{
    grid-column: span 2;
    grid-row: span 2;
}

.story-box-big{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.story-box-lower{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    height: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
    background: var(--primary-color);
    padding-top: 2rem;
}

.story-box-lower h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 2.394rem;
}

.story-box-lower h5{
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color);
    line-height: 1.769rem;
}

.story-box-lower p{
    font-size: 1rem;
    font-weight: 500;
    font-family: "Raleway", serif;
    color: var(--curr-text);
    line-height: 1.769rem;
}

.story-box-upper{
    position: relative;
    background: var(--primary-color);
}

.story-box-upper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story-box-upper div{
    position: absolute;
    bottom: 0;
    transform: translate(0, 50%);
    left: 10%;
    padding: 0.75rem 1rem;
    background: var(--ui-color2);
    border-radius: 3rem;
    font-family: "Raleway", serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--primary-color);
}

.story-box{
    border-radius: 1rem;
    overflow: hidden;
}

#story-date-1{
    background: var(--text-color1);
}

#story-date-2{
    background: var(--story-color);
}

#story-date-3{
    background: var(--text-color2);
}

#story-date-4{
    background: var(--ui-color1);
}

#story-date-5{
    background: var(--ui-color2);
}

.story-end button{
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.story-end button:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

@media screen and (max-width: 576px){
    .stories{
        padding: 2.5rem 2rem;
        gap: 1.25rem;
    }

    .stories-start h3{
        font-size: 1.625rem;
    }

    .stories-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .story-box-big{
        display: none;
    }

    .story-box-lower h4{
        font-size: 1.25rem;
    }

    .story-box-lower h5{
        font-size: 0.875rem;
    }

    .story-box-lower p{
        font-size: 0.875rem;
    }

    .story-box-upper div{
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
    }

    .story-end button{
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
}

/* CSS For Stories Ends */

/* CSS For Footer Starts */

.footer{
    padding: 3.75rem 6rem;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    background: var(--ui-color1);
    color: var(--primary-color);
}

.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 25rem;
}

.footer-logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-logo img{
    width: 4.375rem;
    aspect-ratio: 1/1;
}

.footer-logo h3{
    font-size: 2.25rem;
    line-height: 2.469rem;
    font-weight: 700;
}

.footer-left p{
    font-size: 1rem;
    font-weight: 400;
}

.footer-mid{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-mid h4{
    font-size: 1.25rem;
    font-weight: 700;
}

.footer-mid ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-mid ul li{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-right h4{
    font-size: 1.625rem;
    font-weight: 700;
}

.footer-right div{
    display: flex;
    gap: 0.5rem;
}

@media screen and (max-width: 576px){
    .footer{
        padding: 2.5rem 2rem;
        gap: 1.25rem;
        flex-direction: column;
    }

    .footer-left{
        gap: 1.125rem;
    }

    .footer-logo h3{
        font-size: 1.625rem;
        line-height: 1.625rem;
    }

    .footer-left p{
        font-size: 0.875rem;
    }

    .footer-mid h4{
        font-size: 1.25rem;
    }

    .footer-mid ul li{
        font-size: 1rem;
    }

    .footer-right h4{
        font-size: 1.375rem;
    }

    .footer-right div{
        gap: 0.25rem;
    }
}

/* CSS For Footer Ends */